<!--<button routerLink="/signup" class="w-full bg-gray-500 text-white p-2 rounded-md hover:bg-gray-600 mt-2">-->
<!--  Sign Up-->
<!--</button> &lt;!&ndash; ✅ Button to navigate &ndash;&gt;
-->
<nav>
  <ul>
    <li><a routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">Employee List</a></li>

    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>
    </li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">SignOut</a>

  </ul>
</nav>
<router-outlet></router-outlet>
